<% layout('/layouts/boilerplate.ejs') -%>


<body>
    <div class="row mt-3">
        <div class="col-8 offset-2">
            <h2>Edit Your Listing</h2>
        <form method="POST" action="/listings/<%= listingData._id %>?_method=PUT">
            
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="listing[title]" value="<%=listingData.title%>">
            </div> 

        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea name="listing[description]" class="form-control"><%=listingData.description%></textarea>
        </div>

        <div class ="row mb-3">

            <h5>Image</h5>
            <div class="col-4">
                <label for="filemane" class="form-label">Filename</label>
                <input type="text" class="form-control" name="listing[image][filename]" value="<%=listingData.image.filename%>" >
            </div>
            
            <div class="col-8">
                <label for="url" class="form-label">URL</label>
                <input type="text" class="form-control" name="listing[image][url]" value="<%=listingData.image.url%>">
    
            </div>

        </div>
        
        <div class="mb-3">
            <label for="price" class="form-label"></label>
            <input type="number" class="form-control" name="listing[price]" value="<%=listingData.price%>">
        </div>
        

        <div class="row mb-3">
            <div class="col-8">

                <label for="location" class="form-label">Location</label>
               <input type="text" class="form-control"  name="listing[location]" value="<%=listingData.location%>">
            </div>
        
            <div class="col-4"> 
            <label for="country" class="form-label">Country</label>
            <input type="text" class="form-control" name="listing[country]" value="<%=listingData.country%>">
            </div>
        </div>

        <button type="Submit" class="btn btn-dark edit-btn mb-3">Edit</button>
    </form>
    </div>
    </div>
</body>
