<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Route</title>
</head>
<body>
    

    <h1>  <%= indData.title %> </h1>
    
    
    <li> <%= indData.description %> </li>
    <li> &#8377;<%= indData.price.toLocaleString("en-IN") %> </li>
    <li><%= indData.image.filename %></li>
    <li><%= indData.image.url %></li>
    <li> <%= indData.location %> </li>
    <li> <%= indData.country %> </li>
    
    <form method="get" action="<%= indData._id %>/edit"> 
            <button>Edit</button> 
    </form>
    
    <form method="POST" action="<%= indData._id %>?_method=DELETE"> 
            <button>Delete listing</button> 
    </form>
    
</body>
</html>

